@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Nickainley";
    src: url('/NickainleyFont.otf');
}

* {
    transition: all 0.25s;
}

html {
    color: #fff;
    --pink: #ff9ced;
    --gray: #222222;
    --blue: #5ad2f4;
}

h1, h2, h3, h4, h5 {
    font-family: 'Nickainley', sans-serif;
    color: var(--pink);
}

.flx {
    display: flex;
    justify-content: center;
    align-items: center;
}